TDD.Katas/.vs/TDD.Katas/v14/.suo
TDD.Katas/TDD.Katas.ncrunchsolution.user
TDD.Katas/TDD.Katas.v2.ncrunchsolution
TDD.Katas/TDD.Katas/TDD.Katas.v2.ncrunchproject
TDD.Katas/_NCrunch_TDD.Katas/TDD.Katas.crunchsolution.cache
